.profile-info__edit-button {
  margin-left: 18px;
  min-width: 24px; /*чтобы кнопка не теряла пропорции при заполнении контентом*/
  min-height: 24px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background-color: black;
  background-image: url(../../../images/pen.png);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline;
  opacity: 1;
  transition: opacity .1s ease-in;
}

.profile-info__edit-button:hover {
  opacity: 0.8;
}
