.form__link_sign {
    width: 100%;
    text-decoration: none; 
    text-align: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity .1s ease-in;
}

.form__link_sign:hover {
    opacity: 0.6;
}